# Application Configuration
# How the local environment variables should be structured. This file is an example and should be copied to .env.local with actual values for development.

# Public variables
NEXT_PUBLIC_APP_NAME="GreenhouseOS"
NEXT_PUBLIC_APP_TITLE="GreenHouse Property Portal"
NEXT_PUBLIC_APP_DESCRIPTION="Property management portal"
